body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
}

a {
  color: #00B7FF;
}

.header {
  background-color: #7EC479;
  height: 20vh;
  margin-bottom: 10px;   
}

.title {
  text-align: center;
  /*font-size: 50px;*/
}

.box {
  width: 200px;
  height: 200px;
  background-color: #E1E1E1;
  border: 3px solid black;
}

p {
  line-height: 2px;
  padding-left: 5px;
}

img {
  width: 120px;
  height: 120px;
}
