extends layout 

block content 

  div.container
    div.header
      p.title.leftier #{title}
    fieldset 
      legend #{formTitle}
      form.newform(action='/' method='post')
        div.form-group
          label(for="name") Name
          input.form-control(type="text" name="name" id="name" placeholder="Restaurant Name")
        div.form-group
          label(for="location") Location
          input.form-control(type="text" name="location" id="location" placeholder="Restaurant Location")
        div.form-group.colorme
          select.dropdown(type="select" name="state" id="state")
            option select a state
            option(value="AL") AL
            option(value="AK") AK
            option(value="AZ") AZ            
            option(value="AR") AR
            option(value="CA") CA
            option(value="CO") CO
            option(value="CT") CT
            option(value="DE") DE
            option(value="DC") DC
            option(value="FL") FL
            option(value="GA") GA
            option(value="HI") HI
            option(value="ID") ID            
            option(value="IL") IL
            option(value="IN") IN
            option(value="IA") IA
            option(value="KS") KS
            option(value="KY") KY
            option(value="LA") LA            
            option(value="ME") ME
            option(value="MD") MD
            option(value="MA") MA
            option(value="MI") MI
            option(value="MN") MN
            option(value="MS") MS
            option(value="MO") MO
            option(value="MT") MT
            option(value="NE") NE
            option(value="NV") NV
            option(value="NH") NH
            option(value="NJ") NJ
            option(value="NM") NM
            option(value="NY") NY
            option(value="NC") NC
            option(value="ND") ND
            option(value="OH") OH
            option(value="OK") OK
            option(value="OR") OR
            option(value="PA") PA
            option(value="RI") RI
            option(value="SC") SC
            option(value="SD") SD
            option(value="TN") TN
            option(value="TX") TX
            option(value="UT") UT
            option(value="VT") VT
            option(value="VA") VA
            option(value="WA") WA
            option(value="WV") WV
            option(value="WI") WI
            option(value="WY") WY
        div.form-group 
          label(for="type") Cuisine
          select.dropdown.cuisine(type="select" name="type" id="type")
            option type of cuisine
            option(value="Mexican") Mexican
            option(value="Thai") Thai
            option(value="American") American
            option(value="Vietnemese") Vietnemese
            option(value="Italian") Italian
        div.form-group.radio
          label.radiolabel(for="rating") Rating 
            input(type="radio" name="rating" value="1" checked="")
        div.form-group.radio
          input(type="radio" name="rating" value="2")
        div.form-group.radio
          input(type="radio" name="rating" value="3")
        div.form-group.radio
          input(type="radio" name="rating" value="4")
        div.form-group.radio
          input(type="radio" name="rating" value="4")
        div.form-group
          label.image(for="image") Image 
          input.image(type="text" name="image" placeholder="image.png")
        div.form-group.radio
          textarea.form-control(rows="5" name="description" id='description' placeholder="add a brief description") #{description}
        div.buttoni
          button.submit(type="submit") Submit
          a(href="/").cancel Cancel
