extends layout

block content
  div.container
    div.header
      p.title gTables
      a(href="#") New Restaurant
    div.items
      if zagat
        for item in zagat
          div.box
            p.name= item.name
            img(src="images/" + item.image)
            p.type= item.type + " Cuisine"
            p.location= item.location + ", " + item.state
