extends layout

block content
  div.container
    div.header
      p.title gTables
      a(href="/new") New Restaurant
    div.items
      if zagat
        for item in zagat
          div.box
            p
              a(href='/show/' + item.id)= item.name
            img(src="images/" + item.image)
            p.type= item.type + " Cuisine"
            p.location= item.location + ", " + item.state
            -for(var i=0; i<item.rating; i++) 
              img.star(src="images/star.png")
