extends layout

block content
div.container
  div.header
    p gTables
    //- a(href="#") New Restuarant
    //- p #{zagat}
  //- if zagat
  //- div.box
    //- p Los Tacos
    //- img(src="../images/burger.png")
  
