extends layout 

block content 

  div.container
    div.header
      p.title #{title}
    form.newform(method='POST')
      p #{formTitle}
      div.form-group
        label(for="name") Name
        input.form-control(type="text" name="name" id="name" placeholder="Restaurant Name")
      div.form-group
        label(for="location") Location
        input.form-control(type="text" name="location" id="location" placeholder="City")
      div.form-group.colorme
        select.dropdown(type="select" name="state" id="state")
          option(value="AL") Alabama
          option(value="AK") Alaska
          option(value="AZ") Arizona
          option(value="AR") Arkansas
          option(value="CA") California
          option(value="CO") Colorado
          option(value="CT") Connecticut
          option(value="DE") Deleware
          option(value="DC") District Of Columbia
          option(value="FL") Florida
          option(value="GA") Georgia
          option(value="HI") Hawaii
          option(value="ID") Idaho
          option(value="IL") Illinois
          option(value="IN") Indiana
          option(value="IA") Iowa
          option(value="KS") Kansas
          option(value="KY") Kentucky
          option(value="LA") Louisiana
          option(value="ME") Maine
          option(value="MD") Maryland
          option(value="MA") Massachusetts
          option(value="MI") Michigan
          option(value="MN") Minnesota
          option(value="MS") Mississippi
          option(value="MO") Missouri
          option(value="MT") Montana
          option(value="NE") Nebraska
          option(value="NV") Nevada
          option(value="NH") New Hampshire
          option(value="NJ") New Jersey
          option(value="NM") New Mexico
          option(value="NY") New York
          option(value="NC") North Carolina
          option(value="ND") North Dakota
          option(value="OH") Ohio
          option(value="OK") Oklahoma
          option(value="OR") Oregon
          option(value="PA") Pennsylvania
          option(value="RI") Rhode Island
          option(value="SC") South Carolina
          option(value="SD") South Dakota
          option(value="TN") Tennesee
          option(value="TX") Texas
          option(value="UT") Utah
          option(value="VT") Vermont
          option(value="VA") Virginia
          option(value="WA") Washington
          option(value="WV") West Virginia
          option(value="WI") Wisconsin
          option(value="WY") Wyoming
      div.form-group 
        label(for="type") Cuisine
        select.dropdown.cuisine(type="select" name="type" id="type")
          option(value="Mexican") Mexican
          option(value="Thai") Thai
          option(value="American") American
          option(value="Vietnemese") Vietnemese
          option(value="Italian") Italian
      div.form-group.radio
        input(type="radio" name="rating" value="1" checked)
        one 1 
      div.form-group.radio
        input(type="radio" name="rating" value="2")
        two 2
      div.form-group.radio
        input(type="radio" name="rating" value="3")
        three 3
      div.form-group.radio
        input(type="radio" name="rating" value="4")
        four 4 
      div.form-group
        label.image(for="image") Image
        input.image(type="text" name="image")
      div.form-group
        textarea.form-control(rows="5" name="description" id='description' placeholder="Keep it brief")
      a(href="/").cancel Cancel
      button.submit(type="submit") Submit
